ul {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  background-color: aqua;
  padding: 40px;
  text-align: center;
  background-size: cover;
}
input {
  width: 500px;
  height: 70px;
  padding: 30px;
  border-radius: 20px;
  outline: none;
  text-align: center;
  border: transparent;
}
.country-card_tile {
  margin-bottom: 40px;
  font-size: 50px;
}
